.home__container {
  background-color: black;
  color: white;
}

.home__header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 40px;
  background-color: black;
}

.home__posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__header input {
  background-color: rgb(75, 75, 75);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  height: fit-content;
  font-size: 0.9rem;
  outline: none;
}

.post__btn {
  padding-top: 5px;
  border-radius: 5px;
  border: none;
  background-color: white;
  font-size: large;
}

.post__btn:hover {
  color: black;
  background-color: #f6f6f6;
  cursor: pointer;
}